<style>
    .scrollable-table {
        width: 100%;
        overflow-x: auto;
        overflow-y: auto;
    }
    .scrollable-table thead th:first-child,
    .scrollable-table thead th {
        position: sticky;
        top: 0;
        z-index: 2;
        background: #F9F8F8;
        padding: 10px;
        border: 1px solid #ddd;
    }
    .scrollable-table td {
            padding: 10px;
            border: 1px solid #ddd;
    }
    .scrollable-table tbody td:first-child {
        position: sticky;
        left: 0;
        background: rgb(192, 214, 221);
        z-index: 1;
    }
</style>


<table class="scrollable-table">
    <thead>
        <tr>
            {% for key in data.keys() %}
                <th style="white-space: nowrap;">{{ key }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% set first_list = data.values()|first %}
        {% set list_length = first_list|length %}
        {% for i in range(list_length) %}
            <tr>
                {% for key, value in data.items() %}
                    <td style="white-space: nowrap;">{{ value[i] }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

