.news-log {
  width: 95%;
  height: 150px; /* Adjust height as needed */
  overflow-y: scroll;
  border: 8px solid #3F72AF;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px; /* Rounded edges */
  background-color: #DBE2EF; /* Background color */
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.variable-form{
  width: 100%;
  height: 2000px;
  max-height: 2000px;  /* Or set a specific max height if needed */
}

.google-form{
  width: 100%;
  height: 1000px;
  max-height: 1000px;  /* Or set a specific max height if needed */
}

.refresh-link {
  cursor: pointer;
}

.main-svg,
.svg-container {
  width: 100% !important
}

/* Style the label */
.hoverLabel {
  display: none; /* Initially hidden */
  position: absolute;
  background-color: #a2a0a0;
  padding: 5px;
  border: 1px solid #a2a0a0;
  border-radius: 4px;
  font-size: 14px;
  color: #f9f9fa;
  z-index: 1;
}
#cefiPortalTabs li:hover .hoverLabel {
  display: block; /* Show label on hover */
  width: 100%;
}
@media (hover: none) {
  #cefiPortalTabs li:hover .hoverLabel {
    display: none;
  }
}


/* .dropdown-menu .nav-link:hover {
  background-color: transparent;
} */

.headingCenter {
  text-align: center;
}

.gifDemo {
  width: 100%
}
/* .nav-tabs .dropdown-menu,
.nav-tabs .dropdown-menu li,
.tab .nav-tabs .active .dropdown-menu li a{
  background-color: #edeff0 !important; 
} */

/* .navbar-collapse-cefi {
  background-color: #51565b;
}

#cefinavbar.navbar ul.nav > li > a{
  color: #faf6f5; 
  font-size: 12pt;
  background-color: transparent;
}

#cefinavbar.navbar ul.nav li.active > a {
  color: #73c779; 
  background-color: transparent !important; 
}

#cefinavbar.navbar li.dropdown.open a.dropdown-toggle[aria-expanded="true"] {
  color: white !important; 
  background-color: transparent !important; 
} */

#cookbookFrame {
  height: 3100px;
  /* width: 1150px; */
  /* height: 100%; */
  width: 100%;
  border: 0px;
  margin-top: 0px;
  overflow: hidden;
}

.bannerContainer {
    width: 100%; /* Set the width of the container */
    height: 120px; /* Set the height to crop top and bottom */
    overflow: hidden;
}

.bannerContainer img {
  width: 100%; /* Ensure the image fills the container horizontally */
  height: auto; /* Maintain the image's aspect ratio */
  background-size: cover;
  background-position: bottom; /* Adjust the position to center the lower part */
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.toggleBtn {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggleBtn:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .toggleBtn {
  background-color: #2196F3;
}

input:focus + .toggleBtn {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .toggleBtn:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.toggleBtn.round {
  border-radius: 34px;
}

.toggleBtn.round:before {
  border-radius: 50%;
}