/* the leaflet iframe class css */
.leafletIframe {
	/* position: relative; */
	/* margin: auto; */
    width: 100%; 
    height: 400px; 
    border: 5px solid #d5d7d7;
	border-radius: 1%;
}

/* the time slider class css */
#timeRangeFcastMHW {
    padding-right: 50px;
    padding-left: 50px;
}